a {
	text-decoration: none;
}

.navbarText {
	font-family: Montserrat, sans-serif;
	letter-spacing: 0.25px;
	font-size: 15px
}

.navMenuFull {
	display: flex;
}

.navToggleButt {
	display: none;
}

.slideshowText {
	font-family: 'Lulo Clean One Bold', times, serif;
	font-size: 60px;
}

.about-card-mobile {
	display: none;
	margin-bottom: 70px;
}

.tiles-para {
	font-family: 'Avenir LT Std 35 Light', sans-serif;
	letter-spacing: 0.50px;
	line-height: 1.8;
	color: white;
	font-size: 16px;
}

@media only screen and (max-width: 730px) {
	.navToggleButt {
		display: flex;
	}

	.navMenuFull {
		display: none;
	}

	.slideshowText {
		font-size: 40px;
	}

	.about-card-mobile {
		display: flex;
	}

	.about-card-desktop {
		display: none;
	}
}








#6cd8ef #febe49 #BFE5FB #83A8F0
